

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/027fd7a33f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
    <title>about</title>
</head>
<body>
    <section>
        <div class = "image">
            <!-- image here -->
            <img src="/static/assets/images/website_images/Uniaway.png" alt="">
        </div>

        <div class = "content">
            <h2>About Us</h2>
            <span><!-- line here --></span>

            <p>Presso Uniaway, il nostro profondo impegno è quello di sostenere gli studenti universitari nella loro ricerca delle case perfette mentre intraprendono il loro percorso educativo in Italia. La nostra missione ruota attorno alla semplificazione del processo di ricerca degli alloggi, garantendo che rimanga senza soluzione di continuità, privo di stress e, soprattutto, un'esperienza piacevole.</p>
            <!--
            <ul class = "links">
                <li><a href = "#">work</a></li>

                <div class = "vertical-line"></div>

                <li><a href = "#">service</a></li>

                <div class = "vertical-line"></div>
                
                <li><a href = "#">contact</a></li>
            </ul>

            <ul class = "icons">
                <li>
                    <i class = "fa fa-twitter"></i>
                </li>
                <li>
                    <i class = "fa fa-facebook"></i>
                </li>
                <li>
                    <i class = "fa fa-github"></i>
                </li>
                <li>
                    <i class = "fa fa-pinterest"></i>
                </li>
            </ul>
        </div>
    -->
    </section>
    
</body>
</html>