
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>


  

    <script src="https://kit.fontawesome.com/027fd7a33f.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/landing.css">
    <title>landing</title>
</head>
<body>
  
 
 <section class="wrapper" >
    <header>
        <nav>
            <a href="" class="logo">Uni<span>Away</span></a>
            <div class="buttons-container">

              {% if user.is_authenticated %}
              <button class="btn-index"  type="submit"> <a href="/">Vai agli annunci</a></button>
              {% else %}
              <button  type="submit"> <a href="/signin">Login</a></button>
              <button class="btn-index"  type="submit"> <a href="{% url 'host_index' %}">Vai agli annunci</a></button>
              {% endif %}
            </div> 
            
        </nav>
    </header>

    <div class="container">
      <div class="find_section">
        <div >
          <div class="text-content">
            <p>Perchè cercare università è come cercare casa <br>
              e noi ti aiutiamo a farlo </p>
          </div>
          <div class=" form-row">
            {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" action="posts_list_url">
              {%csrf_token%}
              <input class="form-control mr-sm-2" name="search" type="search" placeholder="Esempio: Bilocale, Trilocale" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
            {% else %}
            <form class="form-inline my-2 my-lg-0" action="host_index">
              {%csrf_token%}
              <input class="form-control mr-sm-2" name="search" type="search" placeholder="Esempio: Bilocale, Trilocale" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
            {% endif %}
            </div>
          </div>
        </div>
      
    </div>
    </div>
 </section>


 <section class="details">
  

  <div class="grid-container">
    <div class="grid-item">
        <div class="grid-item-foto">
            <img src="/static/assets/images/website_images/image_1.png">
              <div class="text">
                <h3>Crea</h3>
                <p>Crea l'annuncio che desideri per il tuo appuntamento in modo che catturi l'attenzione dei potenziali affittuari.</p>
              </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-item-foto">
            <img src="/static/assets/images/website_images/image_2.png">
            <div class="text">
              <h3>Pubblica</h3>
              <p>Condividilo all'interno di una comunità vivace come quella di uniaway desiderose di comparire quello che hai da offrire</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-item-foto">
            <img src="/static/assets/images/website_images/image_3.png">
            <div class="text">
              <h3>Aiuta</h3>
              <p>Questo significa avere un impatto significativo aiutando i nostri studenti a trovare la loro dimora perfetta durante il loro percorso di studi</p>
            </div>
        </div>
</section>

<footer>
  <div class="container">
      <div class="footer-logo">
        <a href="" class="logo">Uni<span>Away</span></a> 
      </div>
      <ul>
          <li><a href="/about">Chi siamo</a></li>
          <li><a href="/contact">Contattaci</a></li>
          <li><a href="#">Privacy Policy</a></li>
      </ul>
      <p>Copyright ©2022 My Website</p>
  </div>
</footer>





</body>
</html>
