

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');







/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}




/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



p,
h1,
h2,
h3,
h4,
h5,
h6{
  overflow-wrap: break-word;
}





















:root{
  --fs-title:2rem;
  --fs-700: 2rem;
  --fs-600: 1.7rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
}

@media (max-width: 1700px) {


  :root{
    --fs-title:1.8rem;
    --fs-700: 1.5rem;
    --fs-600: 1.3rem;
    --fs-500: 1.0rem;
    --fs-400: 0.8rem;
  }

  
}






@media (max-width: 750px) {

  :root{
    --fs-title:1.2rem;
    --fs-750: 1.01rem;
    --fs-700: 1.0rem;
    --fs-600: .9rem;
    --fs-500: .8rem;
    --fs-400: .7rem;
  }


  
  nav{
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    
    padding: 1em !important;
  }

  nav ul li {
    padding: 0 !important ;
     
    }
  nav ul li a {
      padding: 0 !important ;
      font-size: var(--fs-500) !important;
    }



  nav ul li a span {
   display: none;
   }
   ul li i{
    color: #7ab6ae;
    font-size: var(--fs-500);
    margin: 0!important ;
    padding: 0 0.8em;
    
   }
 



  .container{

    margin-top: 0 !important;
    padding-top: 0.2em !important;
    height: 100%;
    width: 100% !important;
    margin-inline: auto;
  }



  .wrapper{
    
    position: relative;
    width: 90% !important;
    margin-top: 5% !important;
    margin-inline: auto;
    
  }


  .wrapper .title{
    font-size: 1.5em !important;
    font-weight: 600;
    text-align: center;
    line-height: 2em !important;
    
  }




  .wrapper form{
    padding: 1em !important;
  }

  .wrapper form .upload{
    width:120px;
    position: relative;
    margin: auto;
    
    
  }


  .wrapper form .upload img{
    object-fit: cover;
    border-radius: 100%;
    border: 6px solid #7ab6ae;
  }



  .wrapper form .field {
    height: 2.7em !important;
    width: 100%;
    
    position: relative;
}


.wrapper form .field-container .field-column .field-desc{
  height: 5em ;
  width: 100%;
  position: relative;
}


}








*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: linear-gradient(to left top, #d8e0dc, #c2d5ce, #accbc2, #94c1b7, #7ab6ae);
  font-size: 0.875rem !important;
    font-weight: 300;
    height: 100vh;
    overflow: hidden;
    place-items: center;
  }
 


  header{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    align-items: center !important;
    background: #e3eeeb;
    position: relative;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }



  nav{
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    text-align: center;
    padding: 0.8em 3em ;
  }
  
 
  
    
  span{
  
    color: #7ab6ae;
  }
  
  
  .site-title{
  
    text-align: center !important;
    padding: 0 !important;
    
    
    
  }

  .site-title a {
    text-decoration: none !important;
    color: black;
  }

  .site-title a:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: black;
  }
  
  .logo{
    text-decoration: none !important;
    font-size:var(--fs-title);
    font-weight: 600 !important;
    color:#384854;
    
  }

/**/
  




  .container{

   
    margin-top: 4em;
    
    
    

    --max-width: 600px;
    --padding: 3em;
  
    width: min(var(--max-width),100% - (var(--padding)*2));
    margin-inline: auto;
  }



  .wrapper{
    
    width: 100%;
    box-shadow: -15px 12px 15px -5px rgba(0,0,0,0.1);
    
    
  }
  .wrapper .title{
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    line-height: 3em;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #cbc4c3, #7ab6ae);
  }
  .wrapper form{
    padding: 1em 1.5em 2.5em 1.5em;
    background: #e3eeeb;
    border-radius: 0 0 15px 15px;
  }

  .upload{
    width: 150px;
    position: relative;
    margin: auto;
    
  }
  
  .upload img{
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #7ab6ae;
    aspect-ratio: 1 / 1;
    image-resolution: from-image 300dpi;
  }
  
  .upload .round{
    position: absolute;
    bottom: 0;
    right: 7%;
    background: linear-gradient(-135deg,  #cbc4c3, #7ab6ae);
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }









  .wrapper form .image-profile {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }

  .wrapper form .image-profile button{
    position: relative;
    padding: 1em;
    overflow: hidden;
    color: #fff;
    line-height: 1.5;
    background: linear-gradient(-135deg,  #cbc4c3, #7ab6ae);

    --max-width: 180px;
    --padding: 3em;
  
    width: min(var(--max-width),100% - (var(--padding)*2));
    margin-inline: auto;
    
  }

  .image-profile button input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
  }

  .wrapper form .image-profile input{
    text-decoration: none;
  }








  .wrapper form .field-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
  }

  .wrapper form .field-container .field-column{
   width: 80%;
   display: flex;
   flex-direction: column;
   gap: 1em;
  }

  .wrapper form  .field{
    height: 3.5em;
    width: 100%;
    position: relative;
  }

  
  .wrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: var(--fs-400);
    padding-left: 1.1em;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    background: #e3eeeb;
  }
  

  .buttons-container{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

  }

  
  .wrapper form .buttons-container input{
    
    width: 100%;
    outline: none;
    font-size: var(--fs-400);
    padding: 1em 3em ;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }


 


  
  




  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #4158d0;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: var(--fs-500);
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: 0%;
    font-size: var(--fs-400);
    color: #4158d0;
    background: #e3eeeb;
    transform: translateY(-50%);
  }




  .wrapper form .field-column .field-desc{
    height: 10em;
    width: 100%;
    position: relative;
  }
  .wrapper form .field-desc textarea{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: var(--fs-400);
    padding: 1em 1.1em ;
    
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    background: #e3eeeb;
    resize: none;
  }
  .wrapper form .field-desc label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: var(--fs-500);
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

 
  .wrapper form .field-desc textarea:focus,
  form .field textarea:valid{
    border-color: #4158d0;
  }
 




  form .field-desc textarea:focus ~ label,
  form .field-desc textarea:valid ~ label{
    top: 0%;
    font-size: var(--fs-400);
    color: #4158d0;
    background: #e3eeeb;
    transform: translateY(-50%);
  }




  
  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    
    font-size: var(--fs-600);
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg,  #cbc4c3, #7ab6ae);
    transition: all 0.3s ease;
  }
 
 

  form .field input[type="submit"]:active{
    transform: scale(0.95);
  }
  form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
    font-size: var(--fs-500);
  }
  form .pass-link a,
  form .signup-link a{
    color: #4158d0;
    text-decoration: none;
    
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
    text-decoration: underline;
  }